# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# MongoDB dump files
dump/

# Coverage directories
coverage/

# Optional: OS-specific files

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*.swp

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Upload content
uploads/resources/
